.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3px;
  background-color: #fffaf4;
  /* font-size:5vw; */
}

.headerContainer button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  /* border: 2px solid black; */
  padding: 10px;
  border-radius: 8px;
}

.headerContainer button:hover {
  cursor: pointer;
  background-color: #ffdab9;
}

@media (max-width: 480px) {
  .headerContainer {
    justify-content: space-between;
    font-size: 8px;
  }

  .headerContainer .headLeft {
    font-size: 4vw;
  }
  .headerContainer button {
    font-size: 4vw;
    border: none;
  }
}
