.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 20px;
  background-color: #fffaf4;
}

@media (max-width: 480px) {
  .headerContainer {
    justify-content: space-between;
  }
}
